<nav class="flex items-center w-full h-[10vh] justify-between bg-blue-500 text-white">

    <a href="/" class="pl-6">Home</a>

    <div class="pr-6 flex items-center">
        <img src="<%= user.imagen %>" class="w-[8vh] rounded-full mr-8">
        <a href="/">Profile: <%= user.email %></a>
        <span class="mx-4">|</span>
        <a href="/login">Logout</a>
    </div>
</nav>